#bottom-section > div:first-child{
  font-size: 36px;
  font-family: 'Scandia-Bold';
  letter-spacing: 0.53px;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

#bottom-section > div:nth-child(2){
  display: flex;
  justify-content: space-around;
}
#bottom-section > div:nth-child(2) img{
  max-width: 344px;
  margin-bottom: 20px;
}

#bottom-section > div:last-child {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

#splash-images{
  display: flex;
}

#splash-images > div{
  margin: 15px;
}

#splash-images h3{
  font-size: 24px;
  font-family: 'Scandia-Bold';
  text-align: center;
  letter-spacing: -0.5px;
  max-width: 250px;
  margin: 0 auto;
  margin-bottom: 10px;
}

#splash-images p{
  font-size: 16px;
  letter-spacing: -0.5px;
  text-align: center;
  max-width: 300px;
  margin: 0 auto;
  line-height: 1.2;
}

.btn-stores {
  height: 60px;
  width: 200px;
  border-radius: 4px;
}

.btn-btm {
  height: 60px;
  width: 320px;
  border-radius: 4px;
  margin-bottom: 70px;
}
