#mainbox{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#target-container{
  min-width: 1080px;
  min-height: 422px;
  background: url("../../images/bg.png");
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

#target-container > div{
  padding: 5px;
}

#target-container > div:first-child{
  font-size: 45px;
  font-family: 'Scandia-Bold';
  font-weight: 450;
  letter-spacing: 0.5px;
}

#target-container > div:nth-child(2){
  font-size: 24px;
  font-weight: 300;
  max-width: 450px;
  text-align: center;
  margin: 0 auto;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

#target-container > div:last-child{
  font-size: 14px;
  letter-spacing: 0.05px;
  max-width: 650px;
  margin: 0 auto;
  line-height: 1.2;
}

#search {
  display: flex;
  justify-content: space-around;
}

#location{
  position: relative;
}

#location > img{
  width: 25px;
  position: absolute;
}

#location > img:first-child{
  top: 15px;
  left: 15px;
}

#location > img:nth-child(3){
  top: 15px;
  right: 15px;
}

#search input{
  height: 60px;
  width: 250px;
  font-size: 16px;
  letter-spacing: 0.5px;
  text-indent: 50px;
  padding: 0;
  margin: 0;
  border: 0;
  font-family: 'Scandia-Bold';
  border-radius: 4px 0 0 4px;
  margin-bottom: 10px;
}

.gs-btn{
  height: 60px;
  padding: 0;
  width: 150px;
  border-radius: 0 4px 4px 0;
}

#search-btn{
  display: flex;
}

#error-msg{
  text-transform: uppercase;
  color: #EF7C42;
  font-size: 14px;
  letter-spacing: 1.5px;
}

.error{
  color: #CF000F;
}

/* DeliveryBox CSS*/
#deliverybox{
  display: flex;
  justify-content: space-around;
  margin-top: 18px;
}

#deliverybox > div > div:last-child{
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

#db-header{
  text-align: center;
  text-transform: uppercase;
  font-family: 'Scandia-Bold';
  font-size: 18px;
}

.store-items{
  display: flex;
  margin-bottom: 25px;
}

.store-items > div{
  padding: 15px;
  text-align: center;
}

.db-store-name{
  font-size: 35px;
  letter-spacing: 0.5px;
  font-family: 'Scandia-Bold';
  margin-bottom: 20px;
}

.db-avail{
  font-size: 18px;
  font-style: italic;
  letter-spacing: 1.5px;
}
